@charset "utf-8";
/* CSS Document */
#container {
  width: 98%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
}
#headerimg {
  width: 11%;
  float: left;
  margin-top: -20px
}
#sidebar {
  width: 20%;
  height: 5000px;
  background-color: aliceblue;
  float: left;
}
#cart {
  float: right;
  margin-right: 20px;
  margin-top: 8px;
}
.shoppingbox {
  width: 250px;
  height: 280px;
  margin-left: 15px;
  margin-bottom: 10px;
  float: left;
}
.shoppingboxtext {
  margin-bottom: 0px;
  margin-left: 10px
}
.shoppingboxprice {
  font-size: 13px;
  margin-bottom: 0px;
  float: left;
  background-color: ghostwhite;
}
.shoppingboxcateg {
  float: left;
  font-size: 13px;
  position: inherit;
  margin-left: 10px;
}
.divider {
  margin-bottom: 3px;
  margin-top: 3px;
}
.shoppingboximg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 200px;
}
.shoppingat {
  float: left;
  display: block;
  width: auto;
  margin-left: 5px;
  color: white;
  font-size: 12px
}
.address {
  display: block;
  width: 90px;
  color: white;
  font-size: 12px;
  margin-left: 5px;
  float: left;
}
#announcementbar {
  background-color: #3A3A3A;
  height: 50px;
  padding-top: 5px;
  color: white;
}
.grandop {
  display: block;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.floatleftann {
  float: left;
}
.announcementbartext {
  font-size: 12px;
  text-align: center;
  font-weight: bold;
  color: white;
  text-decoration: underline;
  text-decoration-color: white;
  display: block;
  width: 70px;
  margin-left: auto;
  margin-right: auto;
}
#header {
  height: 60px;
  background-color: white;
  padding-top: 3px;
}
#navbar {
  justify-content: center;
  background-color: white;
  border: thick black;
  width: 78%;
  height: 70px;
  float: left;
  margin-top: 10px;
}
#carousel {
  margin-bottom: 5px;
  margin-top: 60px;
}
#content {}
#aboutush1 {
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}
.aboutustextp {
  margin-bottom: 1px
}
.smallboxtext {
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}
.smallboxembedtext {
  font-size: 12px;
  text-align: center;
  font-weight: bold;
  color: black;
  text-decoration: underline;
  text-decoration-color: black;
  display: block;
  width: 70px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 7px;
}
.centeringbox {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
}
#sourcesbox {
  width: 1200px;
  height: auto;
  background-color: ghostwhite;
  float: left;
}
.centeringbox2 {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}
.itembox1 {
  width: 800px;
  height: auto;
  float: left;
  margin-right: auto;
  margin-left: auto;
}
.itembox2-2 {
  width: 400px;
  height: auto;
  float: left;
}
.itemboximg {
  padding: 10px
}
.itemboximg2 {
  display: block;
}
.itembox2text {
  width: 400px;
  height: auto;
  float: left;
  margin-right: auto;
  margin-left: auto;
  border: thin solid black;
}
.itemboxheadertext {
  font-size: 20px;
  margin-top: 20px;
  margin-left: 10px;
}
.itemboxpricetext {
  margin-top: 20px;
  margin-left: 10px;
}
.itemboxdesc {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
.addtocart {
  width: inherit;
  text-align: center;
  background-color: #3A3A3A;
  color: white;
}
.titlediv {
  padding-top: 10px;
  font-size: 25px;
  font-weight: bold;
}
.smallboximg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.floatleft {
  float: left;
}
.boxmarginright {
  width: 33%;
  height: 400px;
  float: right;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.boxmargin {
  width: 33%;
  height: 400px;
  float: left;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 5px;
}
.box {
  width: 33%;
  height: 400px;
  float: left;
  padding: 10px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.longbox {
  width: 100%;
  height: 300px;
  float: left;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
#footer {
  float: left;
  color: white;
  text-align: center;
  font-size: medium;
  text-decoration-style: bold;
  text-decoration: underline;
  font-style: italic;
  background-color: #3A3A3A;
  width: 100%;
  height: auto;
}